---
import Layout from "@layouts/Layout.astro";
import Main from "@components/layout/Main.astro";
import H1 from "@components/layout/H1.astro";
import Timestamp from "@components/post/Timestamp.astro";
import Comment from "@components/post/react/CommentList.tsx";

import { Image } from "astro:assets";

import fetchApi from "@lib/strapi";
import type Article from "@interfaces/article";

export const getStaticPaths = async () => {
  let posts = await fetchApi<Article[]>({
    endpoint: "articles?populate=cover,blocks",
    wrappedByKey: "data",
  });
  return posts.map((post) => {
    return {
      params: { slug: post.attributes.slug },
      props: {
        id: post.id,
        title: post.attributes.title,
        cover: post.attributes.cover,
        blocks: post.attributes.blocks,
        updatedAt: post.attributes.updatedAt,
      },
    };
  });
};

const { slug } = Astro.params;
const { id, title, cover, blocks, updatedAt } = Astro.props;

// var post = await fetchApi<Article>({
//   endpoint: `articles/${slug}?populate=*`,
//   wrappedByKey: "data",
// });

// if (post == null) {
//   return new Response("Not Found", { status: 404 });
// }
---

<Layout title={title}>
  <Main>
    <H1>{title}</H1>
    <Timestamp updatedAt={updatedAt} />
    <Image
      src={import.meta.env.STRAPI_URL + cover.data.attributes.formats.large.url}
      width={1024}
      height={1024 / 1.5}
      alt={title}
      class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover my-8"
    />
    <div class="prose-xl prose-dark overflow-visible relative mb-20 text-white max-w-[1024px]">
      {
        blocks.map((block) => {
          // console.log(block)
          if (block.__component === "shared.ckeditor") {
            return <Fragment set:html={block.body} />;
          } else if (block.__component === "shared.rich-text") {
            return block.body;
          }
        })
      }
    </div>
    <Comment id={id} client:visible />
  </Main>
</Layout>
