---
import Image from "astro/components/Image.astro";
import Timestamp from "./Timestamp.astro";

import type Comment from "@interfaces/comment";

import CommentComp from "./Comment.astro";

type Props = {
  children: Comment;
  postID: number;
};

const { children, postID } = Astro.props;
---

<div class="flex gap-4">
  <Image
    src={children.author.avatar
      ? children.author.avatar
      : `https://ui-avatars.com/api/?background=d9a6f5&color=433B4E&name=${children.author.name}`}
    alt={children.author.name}
    width={40}
    height={40}
    class="rounded-full w-[40px] h-[40px]"
  />
  <div class="w-full">
    <h3 class="font-bold">{children.author.name}</h3>
    <p class="font-thin">{children.content}</p>
    <div class="flex gap-4">
      <p class="text-xs text-gray-400">
        <Timestamp updatedAt={children.updatedAt} />
      </p>
      <p class="text-xs text-gray-400">
        <a class="commentReply cursor-pointer">Reply</a>
      </p>
      <p class="text-xs text-gray-400">
        <a href="">Report</a>
      </p>
    </div>
    <form class="commentForm commentReplyForm" hidden>
      <div class="flex gap-2 w-full min-h-[150px] my-3">
        <div class="flex gap-2 flex-col min-w-[20rem]">
          <div class="inputDiv">
            <input type="text" name="nickname" id="nickname" placeholder="nickname" />
          </div>
          <div class="inputDiv">
            <input type="email" name="email" id="email" placeholder="example@example.com" />
          </div>
        </div>
        <div class="inputDiv min-h-[150px]">
          <textarea
            name="content"
            id="content"
            placeholder="reply comment input"
            class="w-full h-full"></textarea>
        </div>
      </div>
      <button
        type="submit"
        class="rounded-full mr-0 m-auto bg-primaryColor text-secondaryColor px-8 py-4 block"
      >
        Send
      </button>
      <input type="hidden" name="postID" id="postID" value={postID} />
      <input type="hidden" name="commentID" id="commentID" value={children.id} />
    </form>
    <div class="my-4">
      {
        children.children.map((cc) => {
          // console.log(cc);
          return <CommentComp postID={postID} children={cc} />;
        })
      }
    </div>
  </div>
</div>
