---
// import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import type Article from "../../interfaces/article";
import Timestamp from "./Timestamp.astro";

type Props = {
  post: Article;
};

const { post } = Astro.props;
---

<article>
  <a href={`/posts/${post.attributes.slug}`}>
    <Image
      src={`${import.meta.env.STRAPI_URL}${post.attributes.cover.data.attributes.formats.medium.url}`}
      width={600}
      height={600 / 1.5}
      alt={post.attributes.title}
      class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
    />
  </a>
  <a href={`/posts/${post.attributes.slug}`} class="text-xl font-semibold inline-block mb-1">
    <h2>{post.attributes.title}</h2>
  </a>
  <p class="text-base font-thin line-clamp-2">{post.attributes.description}</p>
  <Timestamp updatedAt={post.attributes.updatedAt} />
</article>
