---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

import fetchApi from "../lib/strapi";
import type Global from "../interfaces/global";

const glb = await fetchApi<Global>({
  endpoint: "/global?populate=*",
  wrappedByKey: "data"
});

interface Props {
  title: string;
  description?: string;
  image?: string;
}
const { title, description = "Default description", image = "/images/band.jpg" } = Astro.props;
---

<!doctype html>
<html lang={glb.attributes.locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title + ' | ' + glb.attributes.metadata.metaTitle}</title>
  </head>
  <body class="min-h-screen">
    <Header navItem={glb.attributes.navItem} />
    <slot />
  </body><!-- <style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style> -->
</html>
