---
import Header from "@components/layout/Header.astro";
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

import fetchApi from "@lib/strapi";
import type Global from "@interfaces/global";

import "@styles/global.css";

const glb = await fetchApi<Global>({
  endpoint: "/global?populate=*",
  wrappedByKey: "data",
});

interface Props {
  title: string;
  description?: string;
  image?: string;
}
const { title, description = "Default description", image = "/images/band.jpg" } = Astro.props;
---

<!doctype html>
<html lang={glb.attributes.locale} transition:animate={fade({ duration: "0.2s" })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions transition:persist />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title + " | " + glb.attributes.metadata.metaTitle}</title>
    <script src="/scrollBar.js" is:inline></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs/lib/anime.min.js" is:raw></script>
  </head>
  <body class="min-h-screen">
    <!-- <div class="progress-container fixed w-[6px] h-[100%] top-[4.25rem] right-0 z-90" hidden>
      <div class="progress-bar w-[6px] h-[0%] bg-secondaryColor rounded-full"></div>
    </div> -->
    <div class="progress-container fixed w-[100%] h-[1px] top-[1px] left-0 z-20">
      <div
        class="progress-bar2 w-[0%] h-[1px] bg-primaryColor rounded-full shadow-[0_1px_16px_1px_#E7D4FF]"
      >
      </div>
    </div>
    <Header navItem={glb.attributes.navItem} title={glb.attributes.metadata.metaTitle} />
    <slot />
  </body>
</html>
