---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

import fetchApi from "../lib/strapi";
import type Global from "../interfaces/global";

const glb = await fetchApi<Global>({
  endpoint: "/global?populate=*",
  wrappedByKey: "data"
});

interface Props {
  title: string;
  description?: string;
  image?: string;
}
const { title, description = "Default description", image = "/images/band.jpg" } = Astro.props;
---

<!doctype html>
<html lang={glb.attributes.locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title + ' | ' + glb.attributes.metadata.metaTitle}</title>
  </head>
  <body class="min-h-screen">
    <Header navItem={glb.attributes.navItem} />
    <slot />
  </body><style is:global>
    body{
      background: linear-gradient(180deg, rgba(43, 35, 49, 0.45) 0%, #1C181D 50.54%), linear-gradient(98deg, rgba(28, 24, 29, 0.30) -54.04%, rgba(31, 59, 53, 0.25) 32.72%, rgba(216, 153, 99, 0.27) 61.63%, rgba(255, 247, 165, 0.30) 66.87%, rgba(227, 227, 227, 0.30) 73.58%, rgba(102, 224, 255, 0.30) 77.33%, rgba(223, 255, 190, 0.24) 90.2%, rgba(28, 24, 29, 0.30) 149.97%), #1B181D;
      color: white;
    }
/* 
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  } */
</style>
</html>
